<h1><%= @user.name %></h1>
<h2><%= @user.created_at %></h2>

<ul>
  <% if @user.events.empty? %>
    <p>User has no events created</p>
  <% else %>
    <% @user.events.each do |event| %>
      <li><%=link_to event.name, event_path(event) %></li>
     <% end %>
  <% end %>
</ul>